[submodule "externals/coolprop"]
	path = externals/coolprop
	url = https://github.com/coolprop/coolprop
[submodule "externals/CoolProp"]
	path = externals/CoolProp
	url = https://ibell@github.com/CoolProp/CoolProp.git
